body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}
h1 {
    color: #333;
}
#ageChart, #statusChart, #genderChart, #nationalityChart, #continentChart,
#genderStatusChart, #nationalityAgeChart, #flightsByContinentChart, #arrivalAirportChart {
    margin: auto;
    max-width: 900px;
    height: 500px;
}